/*ul { 
	padding: 0;
	margin: 0;
	background: #fff;
}

li { 
	display: inline; 
	position: relative; 
}

ul ul { 
	position: absolute; 
	left: 0; 
	top: 100%; 
	display: none; 
}

li:hover ul {
	display: block; 
}*/

nav > ul > li {
    clear: left;
    position: relative;
}

nav > ul > li ul {
     display: none;   
}

nav > ul > li:hover ul {
    display: block;
}

nav > ul > li ul {
    position: absolute;
    left: 100px;
    top: 0;
}


nav > ul > li ul li {
    float: left;
    display: inline-block;
}?