    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }



ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdowns:hover .dropbtn {
    //background-color: red;
}

li.dropdowns {
    display: inline-block;
}

.dropdowns-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdowns-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdowns-content a:hover {
	background-color: #f1f1f1
}

.dropdowns:hover .dropdowns-content {
    display: block;
}

.dropdowns-itmes {
    display: none !important;
    position: absolute;
	margin-top:34px;
	top: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdowns-itmes a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdowns:hover .dropdowns-content:hover .dropdowns-itmes{
    display: block !important;
}